<button (click)="color === 'blue' ? color = 'red' : color = 'blue'">
  Changez moi
</button>

<p *ngIf="color === 'blue'" [class.red]="color === 'blue'">
  Rouge
</p>

<p *ngIf="color === 'red'" [ngStyle]="{
  color: color === 'red' ? 'red' : 'blue'
}">
  Bleu
</p>

<h3>
  Musique:
</h3>
<ul>
  <!-- on ne peut utiliser de const ici -->
  <li *ngFor="let sound of sounds">
    {{sound}}
  </li>
</ul>


<div appHighlight highlightColor="purple">
  Fluotez moi en mauve !
</div>

<div appHighlight>
  Fluotez moi !
</div>

<div appHighlight highlightColor="chartreuse">
  Fluotez moi en chartreuse !
</div>

<p appColor>
  Bonjour, je suis un paragphe
</p>

<p appColor appCoffee color="chartreuse">
  Bonjour, je suis un autre paragphe
</p>

<!-- Nos pipes sont éxécutés de gauche à droite -->
{{ "marIo" | lowercase | uppercase }}
{{ "420" | currency : 'CAD' }}
<div>

</div>

{{ "Je m'apelle pelle teuse" | loutre: "Ce qu'on veut !" : 2 : false : "Banane" }}